body {
  background-color: black;
}
h1 {
  text-align: center;
  color: white;
  font-family: monospace;
}

p {
  color: white;
  text-align: center;
  font-size: 18px;
}

.well {
  background-color: #1d5424;
  padding-top: 60px;
  padding-bottom: 60px;
}
